# Cloudflare Workers & NuxtHub Configuration
NUXT_HUB_PROJECT_SECRET_KEY=your-secret-key-here-generate-with-openssl
NUXT_HUB_CLOUDFLARE_ACCOUNT_ID=3862a41b0f77d92908a45e1376f32ea9
NUXT_HUB_CLOUDFLARE_BUCKET_ID=regalkitchen

# SendGrid (if using email)
SENDGRID_API_KEY=

# Contact Form (if using node mailer)
CONTACT_FROM_EMAIL=
CONTACT_TO_EMAIL=
