.text-cursive {
    font-family: cursive;
}

.hero-btn {
    @media (max-width: 575.98px) {
        font-size: 12px;
    }
}
.contact-info {
    @media (max-width: 575.98px) {
        font-size: 12px;
    }
}
.logo {
    @media (max-width: 1024px) {
        width: 200px;
    }
}
